

.header{
    background-color: var(--light2);
}

.customModalBox{
    border-top: solid 2px var(--yellow);
    border-bottom: solid 2px var(--yellow);
    background-color: var(--dark2);
    color: white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
